<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="yixiaomu" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="{{ site.baseurl }}/css/pygments.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css" type="text/css" media="screen, projection" />


<!-- baidu Analytics end -->

</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  <div class="title">
      <a href="{{ site.baseurl }}">yixiaomu</a>
      <a class="extra" href="{{ site.baseurl }}">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        yixiaomu<br />
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/yixiaomu/">github.com/yixiaomu</a><br />
      </p>
    </div>
          <!--
    <div class="rss">
      <a href="">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
        -->
  </div>
</div>

<a href="http://github.com/yixiaomu"><img style="position: absolute; top: 0; right: 0; border: 0;" src="{{ site.baseurl }}/static/img/forkme_right_red.png" alt="Fork me on GitHub" /></a>

<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type="text/javascript">
if(document.location.protocol!='https:')
  document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRb.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
if(typeof ClickTale=='function') ClickTale(206,0.3,"www03");
</script>
<!-- ClickTale end of Bottom part -->



</body>
</html>
